.linkedin-sdk {
  width: 100%;
  line-height: normal;
  padding: 0;
  background-color: red;
  font-weight: 600;
}

.linkedin-sdk:hover {
  background-color: rgb(12, 84, 143);
}

.linkedin-sdk:active {
  background-color: rgb(12, 77, 128);
}

.linkedin-sdk:disabled {
  background-color: rgb(13, 98, 166);
  cursor: not-allowed;
}
